@{
    ViewData["Title"] = "Home Page";
}

<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide2" />
    <input id="s3" type="radio" name="slide3" />
    <input id="s4" type="radio" name="slide4" />
    <input id="s5" type="radio" name="slide5" />
    <input id="s6" type="radio" name="slide6" />
    <input id="s7" type="radio" name="slide7" />
    <input id="s8" type="radio" name="slide8" />
    <input id="s9" type="radio" name="slide9" />
    <input id="s10" type="radio" name="slide10" />
    <div class="sh__content">
        <!--Slider Item-->
        <div class="sh__item">
            <img src="~/Images/UWP.png" alt="imgText" class="imgSlider" />
            <!-- Item info-->
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>Cursode app para la plataforma universal de windows UWP C# <a href="www.google.com.ar">link</a></span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/Android-kotlin1.png" alt="imgText" class="imgSlider" />
            <!-- Item info-->
            <div class="sh__meta">
                <h4>Bissi</h4>
                <span>Bisso</span>
            </div>
        </div>
    </div>
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
    </div>
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
    </div>
</div>
